*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-align: center;
}
body{
    background-color: rgb(255, 255, 158);
}
#contenedorTarjetas{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.tarjeta{
    background-color: white;
    width: 200px;
    padding: 12px;
    border: 1px solid black;
    
}
.imagen{
    height: 100px;
    width: auto;
    background-color: red;
    animation: color 4.5s infinite;
    animation-timing-function: linear;
}
.tarjeta:hover{
    transform: scale(2), rotate(0);

}
.tarjeta:hover .imagen{
    background-color: transparent;
    background-size: cover;
    background-image:url(./0_recursos/1_good-old-rick.gif);
    
}
.tarjeta:nth-child(2) .imagen{
    animation-delay:1s;
}
.tarjeta:nth-child(3) .imagen {
    animation-delay: 2s;
}
.tarjeta:nth-child(4) .imagen {
    animation-delay: 3s;
}
.tarjeta:nth-of-type(odd){
    transform: rotate(-10deg);
}
.tarjeta:nth-of-type(even) {
    transform: rotate(25deg);
}
.tarjeta:nth-of-type(odd):hover {
    transform: rotate(0);

}
.tarjeta:nth-of-type(even):hover {
    transform: rotate(0);
}
.tarjeta h3{

    padding: 20px;
}

@keyframes color {
    0%{
        background-color: red;
    }
    20%{
        background-color: orange;
    }
    40%{
        background-color: yellow;
    }
    60%{
        background-color: green;
    }
    80%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}
